@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";


@theme {
  /* --color-lime-light: #EAFE7B;
  --color-pale-green: #C0E9BA;
  --color-sea-green: #4CA771;
  --color-deep-teal: #013237;
  --color-primary: #4CA771;
  --color-sidebar-bg: #013237; */
  --font-display: "Lexend", sans-serif;

  /* Border Radius Overrides */
  --radius: 0.25rem;      /* Corresponds to rounded (DEFAULT) */
  --radius-lg: 0.5rem;    /* Corresponds to rounded-lg */
  --radius-xl: 0.75rem;   /* Corresponds to rounded-xl */
  --radius-full: 9999px;  /* Corresponds to rounded-full */
}

@layer base {
  body {
    font-family: var(--font-display);
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #4ca771;
    border-radius: 10px;
  }
}